<div class="section">Type of the intersection</div>
<b class="default">Type in the real projective space </b><b class="math">P<sup>3</sup>(&real): </b><b class="info">universe<br></b><b class="default">Type in the complex projective space </b><b class="math">P<sup>3</sup>(<b>C</b>): </b><b class="info">universe<br><div class="section">Parametrization of the intersection</div>
</b><b class="default">Parametrization of each component of the intersection in </b><b class="math">&real<sup>3</sup></b><b class="default"> in homogeneous coordinates </b><b class="math">[x(u); y(u); z(u); w(u)]</b><b class="default">, where (</b><b class="math">u</b><b class="default">) is the parameter in </b><b class="math">the closure of &real ( &real &cup &infin )<br></b><b class="default">The corresponding affine parametrization is: </b><b class="math">[x(u)/w(u); y(u)/w(u); z(u)/w(u)]<br><div class="subsection">[universe]</div>
</b><b class="default">Parametrization is </b><b class="info">NEAR-OPTIMAL</b><b class="default">: there might be one extra square root in the coefficients of the </b><b class="math">u<sup>k</sup><br><br>[u, v, s, t]<br><br>
